@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
@import "navbar";

body {
    background: #28305a;
    height: 100vh;
    margin: 0 20px;
}
